* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive;
  color: lightgray;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.36), black), url(library.jpg) no-repeat center center/cover;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
}

#books-collection {
  margin-block: 15px;
  border: 2px solid #000;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.heading-title {
  font-family: serif;
  font-size: 35px;
}

.book-entry {
  display: flex;
  justify-content: space-between;
  padding: 3px 8px;
}

.book-info {
  font-size: 1rem;
  font-weight: 900;
  color: lightgray;
}

.remove-button {
  padding: 2px 8px;
  box-shadow: 3px 3px 2px 2px #000;
  color: black;
}

.book-entry:nth-child(even) {
  background-color: rgba(255, 192, 203, 0.471);
}

.book-entry:nth-child(odd) {
  background-color: rgba(0, 0, 255, 0.368);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  gap: 2px;
}

.divide {
  border: 2px solid #000;
  border-radius: 50%;
  width: 100px;
  margin-bottom: 15px;
}

.form-heading {
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: sans-serif;
}

.input-area {
  padding: 3px 20px 3px 5px;
  border: 2px solid #000;
  text-align: start;
}

::placeholder {
  color: #000;
}

.form-button {
  padding: 1px 4px 1px 4px;
  box-shadow: 3px 3px 2px 2px #000;
  position: relative;
  overflow: hidden;
  color: #000;
}

.form-button::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgba(0, 0, 255, 0.368);
  color: white;
  border-radius: 50%;
  top: -80%;
  left: -50%;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.form-button:hover::before {
  transform: scaleX(1);
}
